
<div id="carousel-example" class="carousel slide container-fluid" data-ride="carousel" data-interval="false" style="padding:0; margin:0;">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="padding:0; margin:0;">
    <div class="item active">
      <div class="container-fluid" style="height:40em; background-color:#6D929B; color:white;">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="row">
				<div style="margin-top:8em;">
				<h2>Keywords for <%= @patent.title %> :</h2>
				
				<% @patent.keywords.each do |k| %>
				<h4 class="kw_li">
					 <%= k.kw %>  
				</h4>
				<% end %>

				</div>
			</div>
			<hr>
			<div class="row">
				<h5>Our quick keyword search provides you search results from the official United States Patent and Trademark Office (USPTO) database. Abstracts containing the given keywords will be listed below with their corresponding links to detailed claims.</h5>
			</div>
			<hr><br>
			<div class="row">
				<div style="background-color:#f1e3dd;height:60px; padding:0.6em;color:black;" onclick= "sendRequest(event)"><h3>Perform Keyword Search</h3></div>
			</div>
		</div>
	</div>
    </div>
    <div class="item">
          <div class="container-fluid" style="height:40em; background-color:#6D929B; color:white;">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="row">
				<div style="margin-top:5em;">
				<h2>Descriptions for your invention: </h2>
				<hr><br>	
				<%= simple_form_for ([@patent, @patent.descriptions.build]) do |f| %>
					<%= f.input :body, label: false, :input_html => {:rows => 10, :cols => 20} %>
					<%= f.button :submit %>
				<% end %>
				</div>
			</div>
			<hr>
		</div>
	</div>
	</div>
	<div class="item">
	      <div class="container-fluid" style="height:40em; background-color:#6D929B; color:white;">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="row">
				<div style="margin-top:8em;">
				<h2>Comprehensive Search for Prior Arts</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<h4 style="color:black;">Description: </h4>
				</div>
				<div class="col-sm-9">
					<div style="color:black;"><h5>
						"An athletic shoe that reduces stress to the ankles with elastic banding and cushioned insoles."
					</h5></div>

					<%# @patent.description %>

				</div>
			</div>
			<hr>
			<div class="row">
				<h5>Our comprehensive prior arts search uses cutting edge technique in natural language processing technique, known as TF-IDF (term frequency-inverse document frequency) to give you a list of extremely thorough prior arts research list. We look through the entire description of your invention, paragraph by paragraph, rather than relying on simple keywords. For more details on the algorithm, visit our <a href="">code documentation!</a><h5>
			</div>
			<hr><br>
			<div class="row">
				<div style="background-color:#f1e3dd;height:60px; padding:0.6em;color:black;" onclick= "changeTable()"><h3>Perform Comprehensive Search</h3></div>
			</div>
		</div>
		</div>


    </div>
</div> 
    


  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="container-fluid" style="background-color:gainsboro;">
<div class="col-sm-10 col-sm-offset-1" style="background-color:white;">
  <div class="row">
    <table class="table" id="table_simple">
    	<thead>
    		<tr>
    			<th style="text-align:center;">Patent ID</th>
    			<th style="text-align:center;">Patent Title</th>
    			<th style="text-align:center;">Abstract URL</th>
    		</tr>
    	</thead>
    	<tbody id="table_body">
    		<tr class="table_row_0">
    		</tr>
    	</tbody>
    </table>

	<table class="table" id="table_comprehensive" style="display:none;">
    	<thead>
    		<tr>
    			<th style="text-align:center;">Patent ID</th>
    			<th style="text-align:center;">Patent Title</th>
    			<th style="text-align:center;">Abstract URL</th>
    		</tr>
    	</thead>
    	<tbody>
			<%= render 'tb' %>
    	</tbody>
    </table>

    
  </div>
</div>
</div>


<script>
   function sendRequest(e){
   		e.preventDefault();
   		var first_kw = $("#first_kw").val();
   		var second_kw = $("#second_kw").val();
   		//var third_kw = "watch";//$('#third_kw').val();		
            $.ajax({
  				method: "GET",
  				url:'http://www.patentsview.org/api/patents/query?q={%22_and%22:[{%22_text_any%22:{%22patent_title%22:%22' + first_kw + "%22}},{%22_text_any%22:{%22patent_title%22:%22"+ second_kw +"%22}}]}",
  				//url:'http://www.patentsview.org/api/patents/query?q={%22_and%22:[{%22_text_any%22:{%22patent_title%22:%22' + first_kw + "%22}},{%22_text_any%22:{%22patent_title%22:%22"+second_kw+"%22}},{%22_text_any%22:{%22patent_title%22:%22"+third_kw+"%22}}]}",
  				//'http://www.patentsview.org/api/patents/query?q={%22_text_phrase%22:{%22patent_title%22:%22'+ "tennis" + '%22}}',
 		 data: {
      		format:'json',
      
  		},
	})
  	.done(function( data ) {
  		$("#table_comprehensive").hide();
  		$("#table_simple").show();
  		for (var j = 0; j < Object.keys(data.patents).length; j++){
  			$("#table_body").append("<tr class=" + "'table_row_"+ j +"'" + "></tr>");
  			console.log(data.patents[j].patent_id);
  			var id = data.patents[j].patent_id;
  			var title = data.patents[j].patent_title;
  			var url = "http://www.freepatentsonline.com/" + id + ".html"
  			$(".table_row_" + j).append("<td>"+ id + "</td>");
  			$(".table_row_" + j).append("<td>"+ title + "</td>");
  			$(".table_row_" + j).append("<td>" + url + "</td>");
  			
  		}
    	
  	});
    }

    function changeTable(){
    	$("#table_simple").hide();
    	if($("#table_comprehensive").not(":visible")){
    		$("#table_comprehensive").show();
    	}
    	
    }
</script>