

<div id="carousel-example" class="carousel slide container-fluid" data-ride="carousel" data-interval="false" style="padding:0; margin:0;">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
    <li data-target="#carousel-example" data-slide-to="3"></li>
    <li data-target="#carousel-example" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" style="padding:0; margin:0;">
    <div class="item active">
      <div style="background-color: #667292;width:100%;height:40em;padding:15em; color:white">
      
        <h1 >In what country would you like to get your patent?</h1>
        <HR>
        <%= simple_form_for @patent, html:{multipart: true} do |f| %>
        <%= f.input :country, label: false, collection: ["USA", "China", "Hong Kong"], as: :select%>
      </div>
    </div>
    <div class="item">
      <div style="background-color:#667292;width:100%;height:40em;padding:15em;color:white;">
      
        <h1>Would you like to apply for <br>provisional or nonprovisional patent?</h1>
        <p>If you're not sure, feel free to ask your personal patent attorney from the chat box down below!</p>
        <%= f.input :kind, label: false, collection: ["Nonprovisional", "Provisional"], as: :radio_buttons%>

      </div>
    </div>
    <div class="item">
       <div style="background-color:#667292;width:100%;height:40em;padding:15em;color:white;">
        <h1>What type of patent would you like to apply for?</h1>
        <p>If you're not sure, feel free to ask your personal patent attorney from the chat box down below!</p>
  
        <%= f.input :category, label: false, collection: ["Utility", "Design", "Plant"], as: :radio_buttons %>
      </div>
    </div>
    
     <div class="item">
      <div style="background-color:#667292;width:100%;height:40em;padding-top:13em;color:white; font-size:1em">
      
        <h1>What category does your patent fall into?</h1>
        <p>If you're not sure, feel free to ask your personal patent attorney from the chat box down below!</p>
        <%= f.input :division, label: false, collection: ["Mechanical Device or System","Electrical Device or System", "Computer Software", "Manufactured Article", "Method or Process","Chemical Composition", "Biotech Innovation"], as: :radio_buttons%>

      </div>
    </div>
    <div class="item">
      <div style="background-color:#667292;width:100%;height:40em;padding:15em;color:white;">
        <h1>What is the title of your patent?</h1>
        <br>
        <%= f.input :title, label: false%>
                <br>
        <div style="position:absolute; right:15em;"><%= f.button :submit %></div>
        <% end %>
      </div>
    </div>
  </div>


  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<br>
<div class="container-fluid" style="background-color:gainsboro;">
<div class="col-sm-10 col-sm-offset-1" style="background-color:white;">
  <div class="row">
    <div class="col-sm-4" style="padding:1.5em;">
      <p style="font-size:12em; text-align:center; padding-bottom:0;margin-bottom:0;color:grey;"><span class="glyphicon glyphicon-user"></span></p>
      <h4><b>AI Patent Attorney Chatbot</b></h4>
      <p>You have 24/7 access to our robot patent attorney, trained with professional legal knowledge in patent law. Don't speak legalese? Have no idea which type of patent to apply for? No worries! In any process of your patent application, you can reach out to him for help! </p>
    </div>
    <div class="col-sm-4">
      <p style="font-size:12em; text-align:center; padding-bottom:0;margin-bottom:0;color:grey;"><span class="glyphicon glyphicon-zoom-in"></span></p>
      <h4><b>Search Engine Powered by <br> Natural Language Processing</b></h4>
      <p>You have 24/7 access to our robot patent attorney, trained with professional legal knowledge in patent law. Don't speak legalese? Have no idea which type of patent to apply for? No worries! In any process of your patent application, you can reach out to him for help! </p>
    </div>
    <div class="col-sm-4">
      <p style="font-size:12em; text-align:center; padding-bottom:0;margin-bottom:0;color:grey;"><span class="glyphicon glyphicon-road"></span></p>
      <h4><b>Easy-to-follow Roadmap</b></h4>
      <p>Applying for a patent is no one-step equation. Here at intelligent patents, we provide you with a step by step guidance and a holistic roadmap to help you get that patent! </p>
    </div>
  </div>
</div>
</div>
